name: Terraform CD

# whenever push any code into github repo, this yaml file will run 
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tf apply on'
        required: true
        default: "dev"
        type: choice
        options:
        ##these options here can be used to load different blocks of yaml for different steps
        - dev
        - staging
        - prod

# declare the running agent (what VM to run?)
jobs: # what task u want it to run 
 terraform-cd: # can be called anything 
   runs-on: ubuntu-latest # docker image 

   steps:
  ##setup
   - name: Checkout repository
     uses: actions/checkout@v2 # uses - library in terraform

  #aws configure
   - name: Configure AWS credentials
     uses: aws-actions/configure-aws-credentials@v1
     with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1 # or hardcode us-east-1

## install terraform (like installing binary)
   - name: Set up Terraform
     uses: hashicorp/setup-terraform@v1

#terraform init
   - name: Initialize Terraform
     run: terraform init # run - command line that we run on our own

#terraform apply
   - name: Terraform Apply
     run: terraform apply --auto-approve -var-file="environments/${{github.event.inputs.environment}}.tfvars"
# wait 10 minutes to destroy
   - name: Wait for 10min 
     run: | 
      sleep 1200 
   - name: Terraform destroy
     run: terraform destroy --auto-approve -var-file="environments/${{github.event.inputs.environment}}.tfvars"